<p>user-list first get request here!</p>
<div class="container mt-3">
  <div class="row">
    <div class="col-3 mt-3" *ngFor="let item of userdata; let i = index">
      {{ i }}
      <div class="card" style="width:18rem;">
        <!-- <img src="{{ item.avatar }}" class="card-img-top" alt="..." /> -->
        <div class="card-body">
          <h5 class="card-title">Card-Title</h5>
          <p>{{ userdata.email }}</p>
          <p class="card-text">
            {{ userdata.first_name }} {{ userdata.last_name }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
